*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#content h3{
    margin-left: .5rem;
}
#content p{
    margin-left: .5rem;
}

.btn{
    padding: 1rem 1.25rem;
    margin: 0.25rem;
    border:none;
    outline: none;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: .75rem;
    transition: all .3s ease-in-out;
}

.solid{
    background-color: var(--primary);
    color: snow;
    box-shadow: 0 0 .25rem 0 rgba(96, 159, 159..7);
}


#form{
    display: none;
}

#form:target{
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    width: 75vw;
    height: auto;
    background-color: var(--bg);
    box-shadow: 0 0 .25rem 0rem rgba(96, 159, 159..7);
    justify-content: space-between;
    padding-bottom: 1rem;
    height: 75vh;
    overflow: hidden;
}

.title{
    color: var(--primary);
    background-color:white;
    font-size:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    height: 3rem;
}
.sub{
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  flex: 1 0 auto;
  padding: .25rem;
}

#form nav{
    position: absolute;
    right: 1rem;
    top: 1rem;
		z-index: 1;
}

a.btn.close{
    color: var(--bg);
    background-color:var(--primary);
    border-radius: 2rem;
    font-size: 0.5rem;
    padding: .5rem .65rem;
}

.btn.close:hover{
    background-color:var(--place);
}

.btn.primary:hover{
    background-color:var(--place);
}

#form #banner{
    width: 20%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    height: 75vh;
}

#form #banner img{
max-height: 100%;
}

#form #content{
	width: 80%;
	position: relative;
    height:75vh;
}

#form form{
height: auto;
padding: 1rem;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
overflow: hidden;
}

#form form fieldset:not(.special):not(.unique):not(.multi):not(.file):not(.alter){
    height: 5.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: calc(50% - 6rem);
    margin-right:6rem;
}

#form form fieldset:not(.special):not(.unique):not(.multi):not(.file):not(.alter) label{
    margin-bottom: 0.25rem;
    font-size:0.8rem;
    height: 1rem;
    flex: 1 0 100%;
}

#form form fieldset:not(.special):not(.unique):not(.multi):not(.file):not(.alter) input, #form form fieldset.custom-select p{
    height: 2rem;
    flex: 1 0 100%;
    background-color: snow;
    border: .05rem solid var(--input);
    padding: .25rem;
}

#form form fieldset.custom-select p {
    color: var(--place);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#form form fieldset input::placeholder{
    opacity: 1;
    color: var(--place);
    
}

fieldset.special textarea{
    background-color:snow;
    resize: none;
    border: .05rem solid var(--input);
    height: 5rem;
    padding: 1rem;
    flex: 1 0 auto;
}

fieldset.special textarea::placeholder{
    opacity: 1;
    color: var(--place)
}



fieldset .select{
    display: none;
}
fieldset .select.active{
    display: flex;
    flex-flow:row wrap;
    max-height: 15vh;
    overflow-y: scroll;
    background-color: snow;
    box-shadow: 0px .75rem 1.25rem rgba(64, 191, 191, 0.25);
    border-radius: 0 0 1rem 1rem;
}

fieldset .select .option{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-flow:row wrap;
    align-items: center;    
    margin-bottom: .25rem;
    border: .05rem solid var(--input)

}
fieldset .select .option label{
    flex: 1 0 auto;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    padding: 0 .25rem;
}
fieldset .select .option input[type="radio"]{
    display: none;
}

#form form span{
    color: var(--primary);
}

.step{
    display: none;
}
.step.active{
    display: flex;
    flex-flow: row wrap;
}

form #advice{
    color: var(--primary);
    background-color: var(--input);
    padding: 0.5rem;
    border-radius:.5rem;
    margin-top: 1rem;
    line-height: 1.5rem;

}
form #advice span{
    margin-right: .5rem;
}
form #advice .underline{
    text-decoration: underline;
}

fieldset.unique{
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 5%;
    right: 5%;
    z-index: 9;
    height: 10%;
    width: 100%;
    display: flex;
}

 .card {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    background-color: var(--primary);
    padding: 0.25rem;
    border-radius: .5rem;
    overflow: hidden;
    width: 20%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    

}
 .card h2{
    background-color: var(--input);
    color: var(--primary);
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding:0.5rem;
    border-radius: .5rem 0.5rem 0 0;
    
}
 .card h3{
    background-color: var(--input);
    width: 100%;
    text-align: center;
    padding:0.5rem;
    font-size:.8rem
}
 .card p{
    color: snow;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}


.popUp{
    height:0;
    overflow: hidden;
    transform: scale(0);
    transition: all .3s;
    position: fixed;
    bottom: 20%;
    left: 30%;
}

.popUp.active{
    display: flex;
    flex-flow: column wrap;
    background-color:snow;
    transform: scale(1);
    height:15vh;
    width: 25%;
    padding: 1rem;
    justify-content:center;
    align-items: flex-start;
    border-radius: .25rem;
    box-shadow: 0px .75rem 1.25rem rgba(64, 191, 191, 0.25);
}
.popUp.active h3{
    font-weight: 700;
    margin-bottom: .5rem;
}

.popUp.active::before{
    content: '';
    position: absolute;
    width: .25rem;
    height:100%;
    background-color:var(--primary);
    left: 0;
    top: 0;
}

fieldset.file {
    height: 5.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: calc(50% - 6rem);
    margin-right: 6rem;
    justify-content: space-between;
}

fieldset.file input[type="file"] {
    display: none;
}

fieldset.file p {
    flex: 1 0 100%;
}


fieldset.file label {
    background-color: var(--input);
    flex: 1 0 auto;
    padding: 1rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    color: var(--primary)
}

fieldset.file button {
    background-color: var(--bg);
    margin: 0px;
    margin-left: .25rem;
    border-radius: 0rem;
    color: var(--primary);
    display: flex;
    padding: 0;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

fieldset.file button i {
    border-radius: 0rem;
    color: var(--primary);
    flex: 1 0 auto;
    height: 100%;
    border: .25rem solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

fieldset.multi {
    height: 5.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: calc(50% - 6rem);
    margin-right: 6rem;
    justify-content: space-between;
}

fieldset.multi label{
    flex: 1 0 100%;
}
fieldset.multi input[type="number"], fieldset.multi input[type="tel"]{
    margin-right: .025rem;
    background-color: snow;
    border: .05rem solid var(--input);
    padding: .25rem;
}
fieldset.multi #celular1{
    width: 25%;
}
fieldset.multi #celular2{
    width: 25%;
}


fieldset.alter {
    background-color: var(--input);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

fieldset.alter p {
    color:var(--primary);
    font-weight: 600;
}

fieldset.alter  label{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width:20%;
    margin-top: .5rem;
    padding:.5rem;
    background-color: snow;
    cursor: pointer;
    border: .05rem solid var(--place);
    border-radius: .5rem;
    transition: all .3s ease-in-out;
}

fieldset.alter  label:hover{
    background-color: var(--primary);
    color: snow;
}

fieldset.alter input{
    display:none;
}


